@tailwind base;
@tailwind components;
@tailwind utilities;




.str-chat__channel-header {
  padding: 1rem;
  background-color: rgba(99, 63, 63, 0.1) !important;
}

.str-video{
  width: 100%;
}

.str-video__speaker-layout__spotlight{
  width: 95%;
}

